<html lang='en'>
  <head>
    <meta http-equiv='X-UA-Compatible' content='IE=Edge' />
    <meta charset='utf-8' />
    <title>{{member.cedula}}</title>
    <!-- Begin shared CSS values -->
    <style class='shared-css' type='text/css'>
      .t { transform-origin: bottom left; z-index: 2; position: absolute;
      white-space: pre; overflow: visible; line-height: 1.5; } .text-container {
      white-space: pre; } @supports (touch-callout: none) { .text-container {
      white-space: normal; } }
    </style>
    <!-- End shared CSS values -->

    <!-- Begin inline CSS -->
    <style type='text/css'>

      #t1_1{left:151px;bottom:1152px;letter-spacing:0.2px;}
      #t2_1{left:171px;bottom:1128px;letter-spacing:0.16px;word-spacing:-0.03px;}
      #t3_1{left:495px;bottom:1128px;letter-spacing:0.2px;word-spacing:0.01px;}
      #t4_1{left:169px;bottom:1104px;letter-spacing:0.2px;word-spacing:-0.02px;}
      #t5_1{left:644px;bottom:1104px;letter-spacing:0.16px;}
      #t6_1{left:400px;bottom:1080px;letter-spacing:0.19px;}
      #t7_1{left:379px;bottom:973px;letter-spacing:-0.28px;}
      #t8_1{left:130px;bottom:890px;letter-spacing:0.38px;word-spacing:0.94px;}
      #t9_1{left:130px;bottom:859px;letter-spacing:0.36px;word-spacing:0.97px;}
      #ta_1{left:130px;bottom:827px;letter-spacing:0.21px;word-spacing:0.21px;}
      #tb_1{left:130px;bottom:795px;letter-spacing:0.47px;word-spacing:1.51px;}
      #tc_1{left:130px;bottom:764px;letter-spacing:0.75px;word-spacing:2.71px;}
      #td_1{left:130px;bottom:732px;letter-spacing:0.13px;word-spacing:0.04px;}
      #te_1{left:130px;bottom:688px;letter-spacing:0.59px;word-spacing:1.47px;}
      #tf_1{left:509px;bottom:688px;letter-spacing:0.54px;word-spacing:1.49px;}
      #tg_1{left:130px;bottom:657px;letter-spacing:0.15px;word-spacing:-0.03px;}
      #th_1{left:314px;bottom:569px;letter-spacing:0.17px;}
      #ti_1{left:319px;bottom:525px;letter-spacing:0.19px;word-spacing:0.01px;}
      #tj_1{left:362px;bottom:481px;letter-spacing:0.17px;word-spacing:0.04px;}
      #tk_1{left:358px;bottom:437px;letter-spacing:0.2px;word-spacing:-0.03px;}
      #tl_1{left:342px;bottom:394px;letter-spacing:0.16px;word-spacing:0.04px;}
      .s1{font-size:16px;font-family:LiberationSans-Bold_6;color:#000;white-space:
      nowrap;}
      .s2{font-size:28px;font-family:Carlito-Bold_g;color:#000;white-space:
      nowrap;}
      .s3{font-size:16px;font-family:LiberationSans_b;color:#000;white-space:
      nowrap;}
    </style>
    <!-- End inline CSS -->

    <!-- Begin embedded font definitions -->
    <style id='fonts1' type='text/css'>

      @font-face { font-family: Carlito-Bold_g; src:
      url("/fonts/Carlito-Bold_g.woff") format("woff"); } @font-face {
      font-family: LiberationSans-Bold_6; src:
      url("/fonts/LiberationSans-Bold_6.woff") format("woff"); } @font-face {
      font-family: LiberationSans_b; src: url("/fonts/LiberationSans_b.woff")
      format("woff"); }

    </style>
    <!-- End embedded font definitions -->
  </head>

  <body style='margin: 0'>

    <div
      id='p1'
      style='overflow: hidden; position: relative; background-color: white; width: 909px; height: 1286px;margin-top: -40px;'
    >

      <!-- Begin page background -->
      <div
        id='pg1Overlay'
        style='width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); user-select: none;'
      ></div>
      <div id='pg1' style='user-select: none;opacity: .25;'><object
          width='909'
          height='1286'
          data='/img/1.svg'
          type='image/svg+xml'
          id='pdf1'
          style='width:909px; height:1286px; -moz-transform:scale(1); z-index: 0;'
        ></object></div>
      <!-- End page background -->

      <!-- Begin text definitions (Positioned/styled in CSS) -->
      <div class='text-container'><span id='t1_1' class='t s1'>COMITÉ LOCAL DE
          ABASTECIMIENTO Y PRODUCCIÓN (CLAPS) CON
        </span>
        <span id='t2_1' class='t s1'>CODIGO CLAPS-TAC-200303-00001, </span><span
          id='t3_1'
          class='t s1'
        >HUGO CHAVEZ FRIAS, LOS</span>
        <span id='t4_1' class='t s1'>PALMARES, PARROQUIA SAN PEDRO DEL RIO, DEL
        </span><span id='t5_1' class='t s1'>MUNICIPIO </span>
        <span id='t6_1' class='t s1'>AYACUCHO, </span>
        <span id='t7_1' class='t s2'>CONSTANCIA </span>
        <span id='t8_1' class='t s3'>Yo,
          <b>Jesús María Medina Pernia</b>, con cedula de identidad Nº
          <b>6.688.968</b>
          en mi
        </span>
        <span id='t9_1' class='t s3'>carácter de jefe de Comunidad, del
          C.L.A.P.S- HUGO CHAVEZ FRIAS, hago
        </span>
        <span id='ta_1' class='t s3'>constar que la ciudadana;
          <b>{{capitalize member.names}} {{capitalize member.lastnames}}</b>,
          con cedula de
        </span>
        <span id='tb_1' class='t s3'>identidad Nº V-
          <b>{{formatDoc member.cedula}}</b>, no pertenece ni ha pertenecido a
          ningún grupo
        </span>
        <span id='tc_1' class='t s3'>familiar atendido por nuestro C.L.A.P.S,
          por lo cual no recibe bolsas de
        </span>
        <span id='td_1' class='t s3'>alimentos ni cajas de claps. </span>
        <span id='te_1' class='t s3'>Constancia que se da en Los Palmares
        </span><span id='tf_1' class='t s3'>{{parseSegmentDay created.day}}
          del mes de
        </span>
        <span id='tg_1' class='t s3'>{{created.month}}
          del
          {{created.year}}</span>
        <span id='th_1' class='t s3'>___________________________ </span>
        <span id='ti_1' class='t s3'>JESUS MARIA MEDINA PERNIA </span>
        <span id='tj_1' class='t s3'>CEDULA Nº 6.688.968 </span>
        <span id='tk_1' class='t s3'>JEFE DE COMUNIDAD </span>
        <span id='tl_1' class='t s3'>TELEFONO: 0416 5906392 </span></div>
      <!-- End text definitions -->
    </div>

    <script>

      (() => { window.print() })()
    </script>
  </body>
</html>